@mixin full-child() {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin flex( $align_items: center, $justify_content: flex-start, $flex_flow: row wrap ) {
	display: flex;
	flex-flow: $flex_flow;
	justify-content: $justify_content;
	align-items: $align_items;
}