.recommend__headline__head {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;

    background: linear-gradient(to top left,#f50057,#9B51E0);
    -webkit-background-clip: text;
    color: transparent;

    margin-bottom: 1rem;
}

.recommend__cards__line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 1.5rem;
    }

        .recommend__cards__line__item-one,
        .recommend__cards__line__item-two,
        .recommend__cards__line__item-three,
        .recommend__cards__line__item-four {
            width: 49%;
            height: 15rem;
            display: flex;
        }

        .recommend__cards__line__item-one {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../../images/covers/_5_cat.jpg) center center no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .recommend__cards__line__item-two {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../../images/covers/_2_books.jpg) center center no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .recommend__cards__line__item-three {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../../images/covers/_3_hand.jpg) center bottom no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .recommend__cards__line__item-four {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../../images/covers/_4_plane.jpg) center center no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }


    .recommend__cards__line__text {
        padding: 2rem;
        align-self: flex-end;
    }
        .recommend__cards__line__item__topic {
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 14px;
            letter-spacing: 0.1em;

            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 0.5rem;
        }
        .recommend__cards__line__item__headline {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.75rem;
        }

@media screen and (max-width: 1210px) {
    .recommend {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 1100px) {
    .recommend__cards__line__item-one,
    .recommend__cards__line__item-two,
    .recommend__cards__line__item-three,
    .recommend__cards__line__item-four {
        height: 13rem;
    }

    .recommend__headline__head {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 767px) {
    .recommend__cards__line__item__headline {
        font-size: 1.25rem;
    }

}
@media screen and (max-width: 640px) {
    .recommend__cards__line {
        flex-flow: column;
        margin-bottom: 0;
    }

    .recommend__cards__line__item-one,
    .recommend__cards__line__item-two,
    .recommend__cards__line__item-three,
    .recommend__cards__line__item-four {
        width: 100%;
        height: 15rem;
    }
}