.comment__headline__head {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;

    background: linear-gradient(to top left,#f50057,#9B51E0);
    -webkit-background-clip: text;
    color: transparent;

    margin-bottom: 1rem;
}

.comment__form {
    position: relative;
}

.comment__form__textarea__inner {
    background: none;
    border: 1px solid #ffffff;
    padding: 1rem 1rem 3rem;
    border-radius: 0.3125rem;
    outline: none;
    overflow: auto;
    resize: none;
    color: #ffffff;

    margin-right: 1rem;
    width: 100%;
}

.comment__form__button {
    outline: none;
    background-image: linear-gradient(to top left,#f50057,#9B51E0);
    color: #ffffff;
    padding: 0.5rem 2rem;
    border-radius: 0.3125rem;

    cursor: pointer;

    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.comment__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin: 2rem 0 3rem;
}
    .comment__info__name,
    .comment__info__email {
        width: 30%;
        display: flex;
        flex-flow: column;
    }
    #name,
    #email {
        outline: none;
        background: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
    }
    .required {
        color: #FF0000;
    }
    label {
        margin-bottom: 0.5rem;
    }


    .comment__info__text {
        width: 30%;
        align-self: flex-end;
    }
    .comment__info__text__paragraph {
        font-size: 0.75rem;
        text-align: right;
    }

    .comment__reply__parent {
        margin-bottom: 1.5rem;
    }
    .comment__name {
        display: flex;
        flex-flow: row nowrap;
    }
        .comment__name__image {
            margin-right: 1rem;
        }
        .comment__name__image__img {
            width: 3.75rem;
            height: 3.75rem;
            object-fit: cover;
            border-radius: 360rem;
        }

        .comment__name__text {
            align-self: center;
        }

        .comment__name__text__name {
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.2;
        }
            .comment__author {
                background-image: linear-gradient(to top left,#f50057,#9B51E0);
            }
        .comment__name__text__date {
            font-size: 0.875rem;
        }

    .comment__text {
        padding-left: 4.75rem;
    }
        .comment__text__paragraph {
            margin-bottom: 0.5rem;
        }
        .comment__text__button {
            background: none;
            outline: none;
            cursor: pointer;

            font-weight: bold;
            line-height: 1rem;
            letter-spacing: 0.1em;

            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.8);
        }

    .comment__reply__child {
        padding-left: 4.75rem;
    }


@media screen and (max-width: 1210px) {
    .comment {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 1100px) {
    .comment__headline__head {
        font-size: 1.5rem;
    }
}