.image-description {
    display: flex;
    flex-flow: column;
}

.image-description__image {
    height: 24rem;
    margin: 2rem 0 1rem;

    background: url(../../../../images/post/table.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image-description__description__text {
    font-weight: 300;
    text-align: center;

    margin-bottom: 3rem;
}

