.post-cover {
    display: flex;

    height: 32rem;
    margin-bottom: 2rem;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../../../images/covers/_18_boats.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.post-cover__text {
    width: 50%;
    align-self: center;
    padding: 0 4rem;
}
    .post-cover__text__topic {
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 1rem;
        letter-spacing: 0.1em;

        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.8);

        margin-bottom: 1rem;
    }
    .post-cover__text__headline {
        font-size: 2.75rem;
        font-weight: bold;
        line-height: 1;

        margin-bottom: 1rem;

    }
    .post-cover__text__lead {
        width: 80%;
        font-size: 1.2rem;
    }

@media screen and (max-width: 944px){
    .post-cover {
        height: 110vh;
        height: 30rem;
    }
    .post-cover__text {
        width: 70%;
    }
    .post-cover__text__headline {
        font-size: 2.5rem;
    }
    .post-cover__text__lead {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px){
    .post-cover__text {
        width: 80%;
    }
    .post-cover__text__headline {
        font-size: 2rem;

    }
}

@media screen and (max-width: 440px) {
    .post-cover__text {
        width: 100%;
        padding: 0 1rem;
    }

}