html {
    background-color: #1f1f1f;
    color: #ffffff;
    font: normal 16px/1.5 'Roboto', sans-serif;

    scroll-behavior: smooth;
}

.col {
    max-width: 75rem;
    margin: 0 auto;
}
.section {
    margin-bottom: 4rem;
}
.f-space {
    margin: 0 14rem;
}
.f-half-right {
    margin-right: 28rem;
}
.c-block {
    margin-bottom: 4rem;
}



.post {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
    .side {
        width: 32%;
    }
    .widecolumn {
        display: flex;
        flex-flow: column;
        width: 65%;
    }

@media screen and (max-width: 1210px) {
    .post {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 944px) {
    .f-space {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .f-half-right {
        margin-right: 1rem;
    }
    .side {
        display: none;
    }
    .widecolumn {
        width: 100%;
    }
}
