.blocks {
    background-color: #333333;
    margin-bottom: 3rem;
}
.c-space {
    padding: 4rem 3rem;
}

@media screen and (max-width: 767px){
    .blocks {
        margin-bottom: 2rem;
    }
    .c-space {
        padding: 2rem;
    }
}
@media screen and (max-width: 440px){
    .blocks {
        margin-bottom: 2rem;
    }
    .c-space {
        padding: 1rem;
    }
}