.section {
    margin-bottom: 6rem;
}

.column {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.newestpost {
    width: 54.9375rem;
    height: 60vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_1_journey.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 3rem;
}

    .newestpost__text {
        max-width: 34.685rem;
        padding: 4rem 0 0 4.1875rem;
    }

        .newestpost__text__topic {
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1rem;
            letter-spacing: 0.1em;

            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.8);

            margin-bottom: 1rem;
        }

        .newestpost__text__headline {
            font-size: 2.375rem;
            font-weight: bold;
            line-height: 1.1;

            margin-bottom: 2rem;
        }

        .newestpost__text__lead {
            max-width: 18.1875rem;
            font-size: 1.125rem;
            font-weight: normal;
        }

.smallcards {
    max-width: 54.9375rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
    .smallcards__elem-card1 {
        width: 26.5625rem;
        height: 35vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_5_cat.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        margin-bottom: 2rem;
    }

    .smallcards__elem-card2 {
        width: 26.5625rem;
        height: 35vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_2_books.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        margin-bottom: 2rem;
    }

    .smallcards__elem-card3 {
        width: 26.5625rem;
        height: 35vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_3_hand.jpg) center bottom no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .smallcards__elem-card4 {
        width: 26.5625rem;
        height: 35vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_4_plane.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

        .smallcards__elem__text {
            padding: 8rem 0 2rem 1.25rem;
        }

            .smallcards__elem__text__topic {
                font-size: 0.75rem;
                font-weight: bold;
                line-height: 14px;
                letter-spacing: 0.1em;

                text-transform: uppercase;

                color: rgba(255, 255, 255, 0.8);

                margin-bottom: 0.5rem;
            }

            .smallcards__elem__text__headline {
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;

            }


