.divider.read-more {
    margin: 6rem 0 5rem;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding-top: 2rem;
    border-top: 1px solid #333333;
}

    .footer__info {
        display: flex;
        flex-flow: column;

        width: 35%;
        padding-right: 2rem;
    }
        .footer__logo {
            padding: 1rem 0 0.5rem;
        }

            .footer__logo__lg {
                font-style: normal;
                font-weight: bold;
                font-size: 2.25rem;
                line-height: 2.625rem;
            }

    .footer__links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        width: 30%;
    }
        .footer__category__link__group,
        .footer__blog__link__group {
            display: flex;
            flex-flow: column;
        }
            .footer__category__headline,
            .footer__blog__headline {
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 2rem;
                letter-spacing: 0.1em;

                color: rgba(255, 255, 255, 0.5);
                text-transform: uppercase;
                padding: 1rem 0;
            }

            .footer__category__link,
            .footer__blog__link {
                text-decoration: none;
                color: #ffffff;
                margin-bottom: 0.5rem;
            }
                .footer__category__link:hover,
                .footer__blog__link:hover {
                    background-image: linear-gradient(to top left,#f50057,#9B51E0);
                    -webkit-background-clip: text;
                    color: transparent;
                }

    .footer__social {
        display: flex;
        flex-flow: column;

        width: 35%;
        padding-left: 2rem;
    }
        .footer__social__headline {
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 2rem;
            letter-spacing: 0.1em;

            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            padding: 1rem 0;

        }
        .footer__social__button {
            display: flex;
            flex-flow: row nowrap;

            padding-bottom: 2rem;
        }
            .footer__social__button__btn {
                width: 2.5rem;
                height: 2.5rem;

                margin-right: 1rem;
            }


