.smallcards__firstline,
.smallcards__secondline {
    max-width: 70%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 2rem;


}
    .smallcards__elem-card1,
    .smallcards__elem-card2,
    .smallcards__elem-card3,
    .smallcards__elem-card4 {
        width: 49%;
        height: 15rem;
        display: flex;
    }

    .smallcards__elem-card1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_5_cat.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .smallcards__elem-card2 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_2_books.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .smallcards__elem-card3 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_3_hand.jpg) center bottom no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .smallcards__elem-card4 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_4_plane.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

        .smallcards__elem__text {
            padding: 2rem;
            align-self: flex-end;
        }

            .smallcards__elem__text__topic {
                font-size: 0.75rem;
                font-weight: bold;
                line-height: 14px;
                letter-spacing: 0.1em;

                text-transform: uppercase;

                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 0.5rem;
            }

            .smallcards__elem__text__headline {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.75rem;
            }

@media screen and (max-width: 1100px) {
    .smallcards__elem-card1,
    .smallcards__elem-card2,
    .smallcards__elem-card3,
    .smallcards__elem-card4 {
        height: 13rem;
    }
}

@media screen and (max-width: 767px){
    .smallcards__firstline,
    .smallcards__secondline {
        max-width: 100%;
        margin-bottom: 0;
    }

    .smallcards__elem-card1,
    .smallcards__elem-card2,
    .smallcards__elem-card3,
    .smallcards__elem-card4 {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .smallcards__firstline,
    .smallcards__secondline {
        flex-flow: column;
    }
    .smallcards__elem-card1,
    .smallcards__elem-card2,
    .smallcards__elem-card3,
    .smallcards__elem-card4 {
        width: 100%;
        height: 18rem;
    }

}




