.textcards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin-top: 6rem;
}

    .textcards__card {
        width: 16.5rem;
        margin-bottom: 5rem;

        background-image: url("../../images/icons/hrr.svg");
        background-size: auto 3px;
        background-repeat: repeat-x;
        background-position: 100% 95%;

        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }

        .textcards__card__text {
            display: flex;
            flex-flow: column;
            flex: 100;
        }

            .textcards__card__text__topic {
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 1rem;
                letter-spacing: 0.1em;

                text-transform: uppercase;

                color: rgba(255, 255, 255, 0.8);
            }
            .textcards__card__text__headline {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 1.75rem;

                margin: 0.5rem 0;
            }

        .textcards__card__img {
            display: flex;
            margin-top: 1rem;
        }

            .textcards__card__img__icon {
                object-fit: cover;
                width: 4rem;
                height: 4rem;
                border-radius: 360rem;

            }

@media screen and (max-width: 1210px){
    .textcards {
        padding: 0 0.5rem;
    }
    .textcards__card {
        margin: 0 0.5rem 5rem;
    }
}

@media screen and (max-width: 858px) {
    .textcards {
        justify-content: flex-start;
    }
    .textcards__card {
        margin-right: 1rem;
        width: 29%;
    }
}
@media screen and (max-width: 640px){
    .textcards__card {
        width: 45%;
    }
}

@media screen and (max-width: 640px){
    .textcards {
        padding: 0 1.5rem;
    }
    .textcards__card {
        width: 100%;
    }
    .textcards__card__text {
        align-self: flex-start;
    }
}


.fullpost {
    height: 34rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_6_beach.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
}

    .fullpost__text {
        max-width: 50%;
        padding: 0 4.1875rem 4rem;

        align-self: center;
    }

        .fullpost__text__topic {
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1rem;
            letter-spacing: 0.1em;

            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.8);

            margin-bottom: 1rem;
        }

        .fullpost__text__headline {
            font-size: 2.375rem;
            font-weight: bold;
            line-height: 1.1;

            margin-bottom: 2rem;
        }

        .fullpost__text__lead {
            max-width: 60%;
            font-size: 1.125rem;
            font-weight: normal;
        }

@media screen and (max-width: 1100px) {
    .fullpost {
     height: 32rem;
    }
    .fullpost__text {
        max-width: 60%;
    }
}
@media screen and (max-width: 944px) {
    .fullpost__text {
        max-width: 80%;
        margin-top: 5rem;
    }
    .fullpost__text__lead {
    max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .fullpost {
        height: 37rem;
    }

    .fullpost__text {
        max-width: 100%;
        padding-left: 1rem;
    }
}