/*Divider*/
.divider {
    margin: 8rem 0 2rem;
}
.divider__head {
    display: flex;
    justify-content: center;

}

.divider__head__headline {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;

    cursor: pointer;

    background-image: url("../../images/icons/hrr.svg");
    background-size: auto 3px;
    background-repeat: repeat-x;
    background-position: 100% 100%;
}

.divider__head__headline:hover {
    background: linear-gradient(to top left,#f50057,#9B51E0);
    -webkit-background-clip: text;
    color: transparent;
}

@media screen and (max-width: 1100px) {
    .divider {
        margin: 6rem 0 2rem;
    }
    .divider__head__headline {
        font-size: 2rem;
    }
}
@media screen and (max-width: 767px){
    .divider__head__headline {
        font-size: 1.5rem;
    }
}


/*First part of the Topic's Block*/

.topic-firstline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 3rem;
}
    .topic-firstline__bigcard {
        width: 66%;
        height: 25rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_7_bear.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        display: flex;
    }
        .topic-firstline__bigcard__text {
            padding: 0 4.1875rem 4rem;
            align-self: center;
        }
            .topic-firstline__bigcard__text__headline {
                max-width: 70%;
                font-weight: bold;
                font-size: 2rem;
                line-height: 2.2rem;
                margin-bottom: 1rem;
            }
            .topic-firstline__bigcard__text__lead {
                max-width: 60%;
                font-size: 1.125rem;
                font-weight: normal;
            }


    .topic-firstline__smallcard {
        width: 32%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_8_notebook.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        display: flex;
    }
        .topic-firstline__smallcard__text {
            padding: 0 2rem 2rem;
            align-self: flex-end;
        }
            .topic-firstline__smallcard__text__headline {
                font-weight: bold;
                font-size: 2rem;
                line-height: 2.2rem;
                margin-bottom: 1rem;
            }

@media screen and (max-width: 944px){
    .topic-firstline__bigcard,
    .topic-firstline__smallcard {
        height: 20rem;
    }
    .topic-firstline__bigcard__text__headline {
        max-width: 80%;
        font-size: 1.75rem;
    }
    .topic-firstline__bigcard__text__lead {
        max-width: 70%;
        font-size: 1rem;
    }
    .topic-firstline__smallcard__text__headline {
        font-size: 1.75rem;
    }

}

@media screen and (max-width: 767px){
    .topic-firstline {
        flex-flow: column;
        margin-bottom: 0;
    }
    .topic-firstline__bigcard {
        width: 100%;
        height: 30rem;
    }
    .topic-firstline__smallcard {
        width: 100%;
        height: 18rem;
    }
    .topic-firstline__bigcard__text {
        padding-left: 1rem;
    }
    .topic-firstline__bigcard__text__headline {
        max-width: 90%;
    }
    .topic-firstline__bigcard__text__lead {
        max-width: 80%;
    }
    .topic-firstline__smallcard__text__headline {
        font-size: 1.5rem;
    }


}

/*Second part of the Topic's Block*/

.topic-secondline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 5rem;
}

    .topic-secondline__card1,
    .topic-secondline__card2,
    .topic-secondline__card3 {
        width: 32%;
        height: 15rem;

        display: flex;
        align-content: flex-end;
    }

    .topic-secondline__card1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_9_green.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .topic-secondline__card2 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_10_conversation.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .topic-secondline__card3 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_11_building.jpg) center center no-repeat;
        background-size: cover;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

        .topic-secondline__card__text {
            padding: 2rem;
            align-self: flex-end;
        }
            .topic-secondline__card__text__headline {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.75rem;
            }

@media screen and (max-width: 1100px) {
    .topic-secondline__card1,
    .topic-secondline__card2,
    .topic-secondline__card3 {
        height: 13rem;
    }
}

@media screen and (max-width: 767px){
    .topic-secondline {
        flex-flow: row wrap;
    }
    .topic-secondline__card1,
    .topic-secondline__card2 {
        height: 18rem;
        width: 50%;
    }
    .topic-secondline__card3 {
        height: 18rem;
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .topic-secondline {
        flex-flow: column;
    }
    .topic-secondline__card1,
    .topic-secondline__card2 {
        width: 100%;
    }

}

/*Third part of the Topic's Block*/

.topic-thirdline__textcards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
    .topic-thirdline__textcards__card {
        width: 16.5rem;
        margin-bottom: 5rem;

        background-image: url("../../images/icons/hrr.svg");
        background-size: auto 3px;
        background-repeat: repeat-x;
        background-position: 100% 95%;

        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
        .topic-thirdline__textcards__card__text {
            display: flex;
            flex-flow: column;
            flex: 100;
        }
            .topic-thirdline__textcards__card__text__headline {
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 1.75rem;

                margin: 0.5rem 0;
            }

    .topic-thirdline__textcards__card__img {
        display: flex;
        margin-top: 1rem;
    }

        .topic-thirdline__textcards__card__img__icon {
            object-fit: cover;
            width: 4rem;
            height: 4rem;
            border-radius: 360rem;
        }

@media screen and (max-width: 1210px) {
    .topic-thirdline__textcards {
        padding: 0 0.5rem;
    }

    .topic-thirdline__textcards__card {
        margin: 0 0.5rem 5rem;
    }
}
@media screen and (max-width: 858px) {
    .topic-thirdline__textcards {
        justify-content: flex-start;
    }

    .topic-thirdline__textcards__card {
        margin-right: 1rem;
        width: 29%;
    }
}
@media screen and (max-width: 640px){
    .topic-thirdline__textcards__card {
        width: 45%;
    }
}

@media screen and (max-width: 640px){
    .topic-thirdline__textcards {
        padding: 0 1.5rem;
    }
    .topic-thirdline__textcards__card {
        width: 100%;
    }
    .topic-thirdline__textcards__card__text {
        align-self: flex-start;
    }
}


/*Fourth part of the Topic's Block*/

.topic-fourthline__fullpost {
    height: 34rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%), url(../../images/covers/_12_city.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
}
    .topic-fourthline__fullpost__text {
        max-width: 50%;
        padding: 0 4.1875rem 4rem;

        align-self: center;
    }

        .topic-fourthline__fullpost__text__topic {
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1rem;
            letter-spacing: 0.1em;

            text-transform: uppercase;

            color: rgba(255, 255, 255, 0.8);

            margin-bottom: 1rem;
        }

        .topic-fourthline__fullpost__text__headline {
            font-size: 2.375rem;
            font-weight: bold;
            line-height: 1.1;

            margin-bottom: 2rem;
        }

        .topic-fourthline__fullpost__text__lead {
            max-width: 60%;
            font-size: 1.125rem;
            font-weight: normal;
        }

@media screen and (max-width: 1100px) {
    .topic-fourthline__fullpost {
        height: 32rem;
    }
    .topic-fourthline__fullpost__text {
        max-width: 60%;
    }
}
@media screen and (max-width: 944px) {
    .topic-fourthline__fullpost__text {
        max-width: 80%;
        margin-top: 5rem;
    }
    .topic-fourthline__fullpost__text__lead {
        max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .topic-fourthline__fullpost {
        height: 37rem;
    }

    .topic-fourthline__fullpost__text {
        max-width: 100%;
        padding-left: 1rem;
    }
}
