html {
    background-color: #1f1f1f;
    color: #ffffff;
}

body {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0;
    font: normal 16px/1.5 'Roboto', sans-serif;
}

section {
    margin-bottom: 4rem;
}