.author {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 100%;

  align-items: center;

  @media screen and (max-width: 479px){
    flex-flow: row wrap;
  }

  .author__info {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    @media screen and (max-width: 479px){
      width: 100%;
      justify-content: center;
    }

    .author__info-poster {
      width: 4rem;

      margin-right: 1rem;

      @media screen and (max-width: 479px){
        width: 3rem;
      }

      & > img {
        display: block;
        position: relative;

        object-fit: cover;
        object-position: center;

        border-radius: 360rem;
      }
    }
  }

  .author__sharing {
    display: flex;
    padding: 0.5rem 0;

    @media screen and (max-width: 479px){
      width: 100%;
      justify-content: center;
    }
  }

  .author__info-text-title {
    display: inline-block;
    position: relative;

    @extend %h4;

    &:hover {
      @include emphasis();
    }
  }

  .author__info-text-date {
    @extend %nav-title;
  }

  .author__info-text-date-link {
    display: block;
  }

}