.card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: relative;

  width: 100%;

  @media screen and (max-width: 1023px) {
    flex-flow: column wrap;
    width: 100%;
  }

  .navigation {

    display: flex;
    width: calc(100% / 3 - 1rem);
    margin-bottom: 2rem;

    @media screen and (max-width: 1023px){
      display: none;
    }

  }

  .main {
    width: 65%;

    @media screen and (max-width: 1023px){
      width: 100%;
    }

    & > .altai-card {
      background-color: rgba(#333, 0.5);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      padding: 3rem 2rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 1023px){
        padding: 2rem 1rem;
      }
    }
  }
}