.column {
  display: flex;
  flex-flow: row nowrap;

  position: relative;

  width: 75rem;
  max-width: 100%;

  @media screen and (max-width: 1023px) {
    flex-flow: column wrap;
    width: 100%;
  }
}
  .units {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-self: flex-start;

    position: relative;

    width: calc(100% - 22.5rem);
    max-width: 100%;

    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  .side {
    width: 22.5rem;
  }