.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  & > * {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 1210px) {
    margin-right: 1rem;
    margin-left: 1rem;

  }
}