.divider {
  display: flex;
  justify-content: center;

  position: relative;

  .divider-link {
    display: flex;
    @include wave-line();
  }

  .divider-title {
    display: inline-block;
    text-transform: uppercase;

    @extend %h2;

    &:hover {
      @include emphasis();
    }
  }
}

.divider--active {
  display: flex;
  justify-content: flex-start;
  position: relative;

  width: $width-content;

  .divider-title {
    display: block;
    text-transform: uppercase;

    @extend %h2;
    @include emphasis();
  }
}