.entry-footer {
  display: block;
  position: relative;

  width: 100%;

  & > * {
    margin: 2rem auto;
  }

  .entry-footer__sharing {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
  }

  .entry-footer__tags {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
  }
  .entry-footer__recommend {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;

    & > * {
      margin-bottom: 1rem;
    }
  }

  .entry-footer__comment {
    display: block;
    position: relative;

    padding: 2rem 3rem;
    background-color: rgba(#333, 0.5);
  }
}