.entry-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;

  align-items: center;

  padding-bottom: 2rem;

  @media screen and (max-width: 479px){
    flex-flow: row wrap;
  }

}