.footer {
  display: block;

  width: 77rem;
  max-width: 100%;
  margin: 0 auto;

  position: relative;


  .footer__inner {
    display: flex;
    flex-flow: row wrap;
    position: relative;

    justify-content: space-between;

    margin-left: 1rem;
    margin-right: 1rem;

    padding: 3rem 0;
    border-top: 1px solid #333333;

    @media screen and (max-width: 1023px){
      & > * {
        width: 100%;
        align-items: center;
      }
    }


    .footer__logo {
      display: flex;
      flex-flow: column;
      position: relative;

      margin-right: 1rem;


      .footer__logo-title {
        margin-bottom: 0.5rem;

        @extend %logo;
      }

      .footer__logo-copyright {
        margin-bottom: 1rem;

        @extend %nav-title;
      }

      @media screen and (max-width: 1023px){
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }

    .footer__nav {
      display: flex;
      flex-flow: column;
      position: relative;

      margin-right: 1rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 1023px){
        margin-right: 0;
      }
    }

    .footer__follow {
      display: flex;
      flex-flow: column;
      position: relative;

      margin-bottom: 1rem;

      .footer__follow-title {
        display: block;
        margin-bottom: 0.5rem;

        @extend %nav-title;
      }
    }

  }
}