.textblock {
  display: block;
  position: relative;

  .textblock__text {
    display: block;
    position: relative;

    .textblock__text-title {
      display: inline-block;

      @extend %h2;
    }

    .textblock__text-paragraph {
      display: block;

      @extend %text;
    }

    & > * {
      margin-bottom: 1rem;
    }
  }
}