.tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  position: relative;

  width: 75rem;
  max-width: 100%;

  .tiles__inner {
    width: calc(100% / 4 - 1rem);

    display: flex;
    flex-flow: column;

    @include wave-line();

    &::before {
      content: '';

      width: 0;
      height: 0;
    }
  }

  .tiles__content {
    display: flex;
    flex-flow: column;
    flex: 100;

    margin-bottom: 1rem;

    .tiles__item-topic {
      @extend %topic;
    }

    .tiles__item-title {
      @extend %h3;

      margin: 0.5rem 0;

      &:hover {
        @include emphasis();
      }
    }

    .tiles__item-link {
      &::after {
        @include full-child();

        content: '';
        display: block;
      }
    }
  }

  .tiles__poster {
    display: flex;
    align-items: flex-end;

    .tiles__item-image {
      display: flex;
      margin-top: 1rem;

      width: 3rem;
      height: 3rem;
      margin-left: auto;

      object-fit: cover;
      object-position: center;

      border-radius: 50%;
      transform: translateY(-50%);

      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
    }
  }
}