.tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 75rem;
  max-width: 100%;
}

  .tile__item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    position: relative;
    width: calc(100% / 4 - 1.5rem);

    margin-bottom: 3rem;

    @include wave-line();

    @media screen and (max-width: 767px){
      width: calc(100% / 2 - 1rem);
    }

    @media screen and (max-width: 479px){
      margin: 1rem;
      width: 100%;
    }
  }

    .tile__content {
      display: flex;
      flex-flow: column;

      padding-bottom: 3rem;

      .tile__item-topic {
        display: inline-block;
        margin-bottom: .5rem;
        z-index: 2;
        @extend %topic;
      }

      .tile__item-title {
        z-index: 1;
        @extend %h3;

        &:hover {
          @include emphasis();
        }
      }
      .tile__item-link {
        &::after {
          @include full-child();

          content: '';
          display: block;
        }
      }

    }

    .tile__poster {
      display: flex;


      .tile__item-image {
        display: flex;
        position: absolute;
        right: 0.3rem;

        width: 3rem;
        height: 3rem;
        margin-left: auto;

        object-fit: cover;
        object-position: center;

        border-radius: 50%;
        transform: translateY(-50%);

        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
      }
    }