.tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: $width-content;
  max-width: 100%;

  .tile__item {
    display: flex;
    flex-flow: column;

    position: relative;
    width: calc(100% / 4 - 1.5rem);

    margin: 2rem 0 3rem;
    padding-bottom: 4rem;

    @include wave-line();

    @media screen and (max-width: 767px){
      width: calc(50% - 1rem);
      padding-bottom: 2rem;
    }

    @media screen and (max-width: 479px){
      width: 100%;
      margin: 1rem 1rem 2rem;
    }

    .tile__item-image {
      display: block;
      position: absolute;
      right: 0;
      bottom: -0.5rem;

      width: 3rem;
      height: 3rem;

      object-fit: cover;
      object-position: center;

      border-radius: 50%;
      box-shadow: 0 0.25rem 0.25rem rgba($color-background, 0.5);
    }

    .tile__item-topic {
      display: inline-block;
      margin-bottom: .5rem;
      z-index: 2;
      @extend %topic;
    }

    .tile__item-title {
      z-index: 1;
      margin-bottom: .5rem;
      @extend %h3;
    }

    .tile__item-link {
      display: block;

      &::after {
        @include full-child();

        content: '';
        display: block;
      }

      &:hover {
        @include emphasis();
      }
    }
  }
}