.topic {
  display: block;
  position: relative;

  width: $width-content;
  max-width: 100%;
  margin-top: 4rem;

  & > * {
    margin-bottom: 2rem;
  }

  .divider {
    display: flex;
    justify-content: center;

    position: relative;

    .divider-link {
      display: flex;
      @include wave-line();
    }

    .divider-title {
      display: inline-block;
      text-transform: uppercase;

      @extend %h2;

      &:hover {
        @include emphasis();
      }
    }
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    position: relative;

    .card__main {
      display: flex;
      position: relative;
      align-items: flex-end;

      width: 66%;
      max-width: 100%;

      margin-bottom: 1rem;

      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

      min-height: 25rem;

      @media screen and (max-width: 767px){
        width: 100%;
        min-height: 15rem;
      }

      .card__main__poster {
        display: flex;
        @include full-child();

        position: absolute;

        background: rgba(#000, 0.5);
        transition: background 0.375s;

        & > img {
          display: block;
          position: relative;
          z-index: -1;

          object-fit: cover;
          object-position: center;
        }
      }

      .card__main__content {
        display: flex;
        flex-flow: column;
        position: static;
        z-index: 1;

        padding: 4rem;

        @media screen and (max-width: 1023px){
          width: 80%;
          padding: 2rem 1rem;
        }

        .main__content-title {
          display: block;
          margin-bottom: 1rem;

          @extend %h2;
        }

        .main__content-lead {
          @extend %lead;

          display: block;
          max-width: 60%;
        }

        .main__content-link {
          display: block;

          &::after {
            @include full-child();

            content: '';
            display: block;
            z-index: 1;
          }
        }
      }
      &:hover .card__main__poster {
        background: rgba(#000, 0.6);
      }
    }

    .card__secondary {
      display: flex;
      position: relative;
      align-items: flex-end;

      width: calc(33% - 1rem);
      max-width: 100%;

      margin-bottom: 1rem;

      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

      min-height: 25rem;

      @media screen and (max-width: 767px){
        width: 100%;
        min-height: 15rem;
      }

      .card__secondary__poster {
        display: flex;
        @include full-child();

        position: absolute;

        background: rgba(#000, 0.5);
        transition: background 0.375s;

        & > img {
          display: block;
          position: relative;
          z-index: -1;

          object-fit: cover;
          object-position: center;
        }
      }

      .card__secondary__content {
        display: flex;
        position: static;
        z-index: 1;

        padding: 4rem 1rem;

        @media screen and (max-width: 1023px){
          padding: 1.5rem 1rem;
        }

        .secondary__content-title {
          display: block;

          @extend %h3;
        }

        .secondary__content-link {
          display: block;

          &::after {
            @include full-child();

            content: '';
            display: block;
          }
        }
      }

      &:hover .card__side__poster {
        background: rgba(#000, 0.6);
      }
    }

    .card__bit {
      display: flex;
      position: relative;
      align-items: flex-end;

      width: calc(100% / 3 - 1rem);
      max-width: 100%;

      margin-bottom: 1rem;

      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

      min-height: 15rem;

      @media screen and (max-width: 767px){
        width: 100%;
      }

      .card__bit__poster {
        display: flex;
        @include full-child();

        position: absolute;

        background: rgba(#000, 0.5);
        transition: background 0.375s;

        & > img {
          display: block;
          position: relative;
          z-index: -1;

          object-fit: cover;
          object-position: center;
        }
      }

      .card__bit__content {
        display: flex;
        position: static;
        z-index: 1;

        padding: 1.5rem 1rem;

        .bit__content-title {
          display: block;

          @extend %h3;
        }

        .bit__content-link {
          display: block;

          &::after {
            @include full-child();

            content: '';
            display: block;
          }
        }
      }

      &:hover .card__bit__poster {
        background: rgba(#000, 0.6);
      }
    }
  }
}