html {
    background-color: #1f1f1f;
    color: #ffffff;
    font: normal 16px/1.5 'Roboto', sans-serif;
}

.col {
    max-width: 75rem;
    margin: 0 auto;
}

.f-space {
    margin: 0 14rem;
}
.f-half-space {
    margin-left: 14rem;
}

.f-block {
    margin-bottom: 4rem;
}

@media screen and (max-width: 944px) {
    .f-space {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .f-half-space {
        margin-left: 1rem;
    }
}
@media screen and (max-width: 440px) {
    .f-half-space {
        margin: 0 1rem;
    }
}