.three-icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}
    .three-icons__elem {
        display: flex;
        flex-flow: column;
        width: 32%;
    }
    .three-icons__elem__icon {
        align-self: center;

        width: 4rem;
        padding: 1rem;
        margin-bottom: 1rem;
        background-image: linear-gradient(to top left,#f50057,#9B51E0);
        border-radius: 180px;
    }
    .three-icons__elem__headline {
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        padding: 0.5rem 1rem 1rem;
    }
    .three-icons__elem__text {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5;
        padding: 0 1rem 1rem;
    }

@media screen and (max-width: 1100px) {
    .three-icons__elem__headline {
        font-size: 1.25rem;
    }
    .three-icons__elem__text {
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 767px) {
    .three-icons {
        flex-flow: row wrap;
    }
    .three-icons__elem {
        width: 49%;
    }
    .three-icons__elem__icon {
        margin-bottom: 0;
    }
    .three-icons__elem__headline {
        font-size: 1.125rem;
    }
    .three-icons__elem__text {
        font-size: 1rem;
    }
}
@media screen and (max-width: 640px) {
    .three-icons {
        flex-flow: column;
        align-items: center;
    }
    .three-icons__elem {
        width: 60%;
    }
    .three-icons__elem__text {
        padding-bottom: 2rem;
    }

}