.button {
  outline: none;
  background-image: linear-gradient(to top left,#f50057,#9B51E0);
  color: #ffffff;
  padding: 0.5rem 1.125rem;
  border-radius: 0.3125rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }
}