.comment {
  display: block;
  position: relative;

  .comment__form {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;

    margin: 1rem 0;

    .comment__form-photo {
      width: 3rem;
      margin-right: 1rem;

      @media screen and (max-width: 767px) {
        width: 1.5rem;
      }

      & > img {
        display: block;
        position: relative;

        width: 3rem;
        height: 3rem;

        object-fit: cover;
        object-position: center;

        border-radius: 50%;

        @media screen and (max-width: 767px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .comment__form-reply {
      display: flex;
      flex-flow: column;

      width: 90%;

      @media screen and (max-width: 767px){
        width: 100%;

      }

      .comment__form-reply-textarea {
        background: none;

        border: 1px solid #ffffff;
        border-radius: 0.3125rem;

        outline: none;
        overflow: auto;
        resize: none;
        color: #ffffff;

        padding: 1rem;
        margin-bottom: 0.5rem;
      }

      .comment__form-reply-input {
        display: flex;
        align-self: flex-end;
      }
    }
  }

  .comment__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding-left: 4rem;
    
    @media screen and (max-width: 767px) {
      padding-left: 0;
      
    }

    .comment__info-input {
      outline: none;
      background: none;
      color: #ffffff;

      border: 0;
      border-bottom: 1px solid #f50057;

      padding-bottom: 0.5rem;
      margin-bottom: 1rem;

      width: 100%;
    }

    .comment__info-description,
    .comment__info-name,
    .comment__info-email {
      @extend %comment-description;
      width: calc(50% - 1rem);
      margin-bottom: 0.5rem;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}