.nav {
  display: flex;
  flex-flow: column;

  .nav__title {
    display: inline-block;
    margin-right: 1rem;

    @extend %nav-title;

    @media screen and (max-width: 1023px) {
      text-align: center;
    }
  }

  .nav__menu {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: 1rem;

    .nav__menu-item {
      margin-bottom: 0.25rem;
      margin-right: 1rem;

      @extend %lead;

      &:hover {
        color: rgba($color-text, 0.5);
        transition: 0.375s;
      }
    }
  }
}