.pic-two {
  display: flex;
  flex-flow: column;
  position: relative;

  width: calc(50% - 1rem);

  margin-bottom: 1rem;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .pic-two__poster {
    display: block;
    position: relative;

    max-width: 100%;
    min-height: 20rem;

    @media screen and (max-width: 767px) {
      min-height: 18rem;
    }

    @media screen and (max-width: 767px) {
      min-height: 15rem;
    }

    & > img {
      width: 100%;
      @include full-child;

      object-fit: cover;
      object-position: center;
    }
  }

  .pic-two__caption {
    display: block;
    position: relative;
    margin: 0.5rem 0;
  }
}

.pic-three {
  display: flex;
  flex-flow: column;
  position: relative;

  width: calc(33% - 1rem);

  margin-bottom: 1rem;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .pic-three__poster {
    display: block;
    position: relative;

    max-width: 100%;
    min-height: 15rem;

    @media screen and (max-width: 1023px) {
      min-height: 13rem;
    }

    @media screen and (max-width: 767px) {
      min-height: 15rem;
    }

    & > img {
      width: 100%;
      @include full-child;

      object-fit: cover;
      object-position: center;
    }
  }

  .pic-three__caption {
    display: block;
    position: relative;
    margin: 0.5rem 0;
  }
}