.social {
  display: flex;
  flex-flow: row nowrap;

  @media screen and (max-width: 1023px) {
    flex-flow: row wrap;
  }

  .social__item {
    display: flex;
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;


    .social__item-icon {
      display: flex;
      width: 2rem;

      &:hover {
        background-image: linear-gradient(to top left,#f50057,#9B51E0);
        transition: all 0.375s;
      }
    }
  }
}