.sub__menu {
  display: none;

  //display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: max-content;


  position: absolute;
  top: 3rem;
  left: 60%;

  z-index: 10;

  background-color: #333333;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

  padding: 0.5rem;

  &:before {
    content: '';
    display: block;
    position: absolute;

    border: 8px solid transparent;
    border-bottom-color: #333333;

    right: auto;
    left: 9px;
    top: -16px;
  }

  .sub__menu-item {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.3125rem;

    margin-bottom: 0.2rem;
    margin-right: 0.5rem;

    z-index: 15;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #ffffff;
      background-image: linear-gradient(to top left,#f50057,#9B51E0);
    }
  }
}