.sub__menu {
  display: none;

  position: absolute;
  top: 3rem;
  left: 60%;

  width: 10rem;

  z-index: 10;

  background-color: #333333;
  border-radius: 0.3125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

  padding: 1rem;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;

    border: 8px solid transparent;
    border-bottom-color: #333333;

    right: auto;
    left: 9px;
    top: -16px;
  }

  .sub__menu-item {
    padding: 0.5rem;
    border-radius: 0.3125rem;

    z-index: 15;

    &:hover {
      color: #ffffff;
      background-image: linear-gradient(to top left,#f50057,#9B51E0);
    }
  }
}