.two-images {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem 0 1rem;
}
    .two-images__elem {
        width: 49%;
    }

        .two-images__elem__image-1 {
            height: 20rem;
            margin: 1rem 0 1rem;

            background: url(../../../../images/post/two-img-1.jpg) center center no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .two-images__elem__image-2 {
            height: 20rem;
            margin: 1rem 0 1rem;

            background: url(../../../../images/post/table.jpg) center center no-repeat;
            background-size: cover;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

    .two-images__elem__description__text {
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        padding: 0 1rem 1rem;

    }

@media screen and (max-width: 944px) {
    .two-images__elem__image-1,
    .two-images__elem__image-2 {
        height: 18rem;
    }
}
@media screen and (max-width: 767px) {
    .two-images__elem__image-1,
    .two-images__elem__image-2 {
        height: 15rem;
    }
}
@media screen and (max-width: 640px) {
    .two-images {
        flex-flow: column;
    }
    .two-images__elem {
        width: 100%;
    }
    .two-images__elem__image-1,
    .two-images__elem__image-2 {
        height: 18rem;
        margin: 1rem;
    }
    .two-images__elem__description__text {
        font-size: 0.875rem;
    }
}
@media screen and (max-width: 440px) {
    .two-images__elem__image-1,
    .two-images__elem__image-2 {
        height: 13rem;
    }
}