// Reset default styles
@import "helpers/reset";

// Widtg and color variables
@import "helpers/variables";

// Common use mixins
@import "helpers/mixins";

// Text styles snippets
@import "helpers/snippets";


html {
  background-color: $color-background;
  color: $color-text;
}

body {
  font: normal 16px/1.5 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

// Import components
@import "parts/*.scss";

// Import layouts
@import "layout/*.scss";

// Backward compatibility
@import "css/*.scss";